<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }} Profile</title>
</head>
<body>
    <h1>
        You are viewing the profile of "{{ username }}" and {{ username }} is a "{{ job }}"
    </h1>
    <p>Name: {{ userData[0].name }}</p>
    <p>Age: {{ userData[0].age }}</p>
    <p>Country: {{ userData[0].country }}</p>
    <p>Hobbies: {{ userData[0].hobbies }}</p>
    <p>Job Description: {{ userData[0].jobDescription }}</p>
    <p>Pets: {{ userData[0].pets }}</p>
</body>
</html>